$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1300px
  );

// ligatured operators ≥ ≤



@import 'vendors/include-media';

@import 'base/variables';
@import 'base/mixins';

@import 'layout/common';
