@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;700;900&display=swap");
.featured-section {
  padding: 40px 0;
  background: #F5F5F5;
  color: #656874;
  font: 16px/1.4 "Gothic A1", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  box-sizing: border-box;
}
@media (min-width: 1024px) {
  .featured-section {
    padding: 80px 0;
  }
}
.featured-section__container {
  max-width: 1110px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .featured-section__container {
    padding: 0 15px;
  }
}
@media (min-width: 1024px) {
  .featured-section__container {
    padding: 0 20px;
  }
}
.featured-section__title {
  text-align: center;
  margin-bottom: 30px;
}
@media (min-width: 1024px) {
  .featured-section__title {
    margin-bottom: 51px;
  }
}
.featured-section__title *:last-child {
  margin-bottom: 0;
}
.featured-section img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  vertical-align: top;
}
.featured-section h2,
.featured-section h3 {
  font-family: inherit;
  color: inherit;
  margin: 0;
}
.featured-section h2 a,
.featured-section h3 a {
  color: inherit;
  text-decoration: none;
}
.featured-section h2 a:hover,
.featured-section h3 a:hover {
  color: #464B90;
}
.featured-section h2 {
  font-size: 26px;
  font-weight: 900;
}
@media (min-width: 768px) {
  .featured-section h2 {
    font-size: 42px;
  }
}
.featured-section h3 {
  font-size: 22px;
  font-weight: 700;
}